:root {
    --fz-dark-blue: #2b2e49;
}

.zoom {
    transition: transform .5s;
}

.zoom:hover {
    transform: scale(1.075);
}

.b-shape {
    right: 100px;
    width: 28%;
    margin-left: 35px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px) {
    .b-shape {
        right: 80px;
    }
}

@media only screen and (min-width: 1199px) {
    .b-shape {
        width: 28%
    }
}

@media only screen and (max-width: 1199px) {
    .b-shape {
        width: 35%
    }
}

.hero-content .hero-title {
    font-size: 2.5rem;
    color: var(--fz-dark-blue);
}

.hero-content .hero-title span {
    font-size: 4.5rem;
    color: var(--fz-dark-blue);
}

.hero-content span {
    color: var(--fz-dark-blue);
}

.hero-content p {
    color: var(--fz-dark-blue);
}
.main-menu ul > li a {
    color: var(--fz-dark-blue);
}

.header-meta ul li > a {
    background: var(--fz-dark-blue);
}

.main-header .container-fluid .row {
    display: flex;
    flex-direction: row;
}


@media (min-width: 1200px) {
    .banner-area .col-xl-6 {
        flex: 0 0 auto;
        width: 75%;
    }
}

.banner-bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fz-about-list ul li i {
    color: #fff;
}

.hero-content {
    padding-top: 0px;
}

.fzcourse__thumb img {
    border-radius: 10px;
}

.header__transparent {
    position: static;
    background: #D9F1FF;
}

.logo img {
    width: 162px;
}

.f-copyright__logo img {
    width: 12vw;
}

img {
    border-radius: 15px;
}

.fz-about-list li span strong {
    font-size: 1.3rem;
    font-weight: bold;
}

.fz-about-class-content .fz-section-title,
.course-area  .fz-section-title,
.course-area .fzcourse__title a,
.fz-choose-content h2, .fz-choose-content h5,
.testimonial .fz-section-title,
.blog .fz-section-title  {
    color: #fff;
}

.fz-about-class-content p,
.fz-about-class-content ul li span,
.fzcourse p,
.fz-choose-content p {
    color: #f1f1f1;
}

.choose-area {
    background: #0077C4;
    background-repeat: no-repeat;
}

.fz-blog {
    background: #f1f1f1;
}

.f-copyright__logo {
    width: 170px;
    padding: 15px 30px;
    background-color: #fff;
    border-radius: 10px;
}

.f-copyright__logo img {
    width: auto;
}

.choose-online-icon i {
    background: var(--fz-heading-secondary);
}